* {
  font-family: "Montserrat", sans-serif;
}
a[href="#"] {
  text-decoration: none;
}
.continer {
  width: 100%;
}
.continer img {
  width: 100%;
}
.section1 img {
  width: 500px;
  right: 330px;
}
.section3 img {
  width: 530px;
  right: 440px;
}
.section4 img {
  width: 530px;
  right: 480px;
}
.section5 img {
  width: 530px;
  right: 440px;
}
.section6 img {
  width: 530px;
  right: 440px;
}
